MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=eventhub_db
MYSQL_USER=eventhub
MYSQL_PASSWORD=eventhub123
MYSQL_PORT=3307
JWT_SECRET=change_me_super_secret
GATEWAY_PORT=8080
FRONTEND_PORT=5173
AUTH_SERVICE_URL=http://localhost:9001
USER_SERVICE_URL=http://localhost:9002
CATALOG_SERVICE_URL=http://localhost:9003
EVENT_SERVICE_URL=http://localhost:9004
REGISTRATION_SERVICE_URL=http://localhost:9005
PAYMENT_SERVICE_URL=http://localhost:9006
NOTIFICATION_SERVICE_URL=http://localhost:9007
ADMIN_SERVICE_URL=http://localhost:9008
BREVO_API_KEY=replace_with_brevo_api_key
BREVO_SENDER_EMAIL=no-reply@eventhub.dev
BREVO_SENDER_NAME=EventHub
BREVO_BASE_URL=https://api.brevo.com/v3
