GATEWAY_PORT=8080
JWT_SECRET=change_me
FRONTEND_ORIGIN=http://localhost:5173
AUTH_SERVICE_URL=http://localhost:9001
USER_SERVICE_URL=http://localhost:9002
CATALOG_SERVICE_URL=http://localhost:9003
EVENT_SERVICE_URL=http://localhost:9004
REGISTRATION_SERVICE_URL=http://localhost:9005
PAYMENT_SERVICE_URL=http://localhost:9006
NOTIFICATION_SERVICE_URL=http://localhost:9007
ADMIN_SERVICE_URL=http://localhost:9008
