GATEWAY_PORT=8080
JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI2OTY5Njk2OTY5NjY5Njk2NjY5OTY5Njk2Njk5Njk2OTY5NiIsIm5hbWUiOiJwYXNpanNmc2FkZmpsO2FzamRmO2phc2RrbDtmbDtkc2ZsO2FzZGpmO2xhZHNqZmtsO25hZHNsO2ZqYWRzaztsZmpha2xkc2pma2w7ZGpma2w7YWRzamZrbDtzZGpmaztsREpGSztMQVNETkZKTDtEU0pGSztMQUpES0w7RkpBSztmamtsO3NqYWZrO2xhZGpmazthZHNqZms7bGFkaks7RkpBU0tMO0ZKREs7SkZLO0FEU0pGSztMSkRBU0s7TEZKQUtTTEQ7SkZLTDtBREpTS0w7RkpBRFNLTDtGSktBO0xTREpERks7TEFTSkRLTDtGSkFTREtMO0ZKS0xBRFNKRktMO0pBU0RLTDtGSlNBREtMO0ZKQUtMO1NESkZLTDtBU0RKRktMO0pES0xGO0pha2w7ZmprbGE7ZHNqZiIsImFkbWluIjp0cnVlLCJpYXQiOjE1MTYyMzkwMjJ9.SRGgow640K4uD_5zRPwd2F8ljqnzyxa17UldazSvZ98
FRONTEND_ORIGIN=http://localhost:5173
AUTH_SERVICE_URL=http://localhost:9001
USER_SERVICE_URL=http://localhost:9002
CATALOG_SERVICE_URL=http://localhost:9003
EVENT_SERVICE_URL=http://localhost:9004
REGISTRATION_SERVICE_URL=http://localhost:9005
PAYMENT_SERVICE_URL=http://localhost:9006
NOTIFICATION_SERVICE_URL=http://localhost:9007
ADMIN_SERVICE_URL=http://localhost:9008
